# EditorConfig is awesome: http://editorconfig.org/
# Please, read it!

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf8
indent_style = space
indent_size = 2

# 2 space indentation
[*.js]
trim_trailing_whitespace = true

[*.html]
trim_trailing_whitespace = true

# Markdown make use of trailing whitespace, don't trim it!
[*.md]
trim_trailing_whitespace = false

[*.doc]
trim_trailing_whitespace = false
