<!DOCTYPE html>
  <html ng-app="docs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>mediaPlayer: Video support</title>

    <!-- BootstrapCDN -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- highlight.js -->
    <link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/github.min.css">
    <!-- css fork ribbon -->
    <link rel="stylesheet" href="/angular-media-player/libs/github-fork-ribbon-css/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/angular-media-player/libs/github-fork-ribbon-css/gh-fork-ribbon.ie.css">
    <![endif]-->
    <!-- overridden css -->
    <link href="/angular-media-player/style.css" rel="stylesheet">

    <!-- google analytics -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42785441-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
    <script type="text/javascript" src="/angular-media-player/libs/angular-media-player.js"></script>
    <script type="text/javascript">
    angular.module('docs', ['mediaPlayer'])
.config(function ($interpolateProvider) {
  $interpolateProvider.startSymbol('[[');
  $interpolateProvider.endSymbol(']]');
})
.run(function ($rootScope) {
  // helper function to seek to a percentage
  $rootScope.seekPercentage = function ($event) {
    var percentage = ($event.offsetX / $event.target.offsetWidth);
    if (percentage <= 1) {
      return percentage;
    } else {
      return 0;
    }
  };
});

    </script>
    
  <script type="text/javascript">angular.module('docs')
.controller('VideoController', function ($scope) {
  $scope.videoPlaylist = [
    {
      src: 'http://video.webmfiles.org/big-buck-bunny_trailer.webm',
      type: 'video/webm'
    },
    {
      src: 'http://video.webmfiles.org/elephants-dream.webm',
      type: 'video/webm'
    }
  ];
});

</script>

  </head>
  <body>
    <div class="footerwrap">
      <div class="github-fork-ribbon-wrapper right hidden-xs">
        <div class="github-fork-ribbon">
          <a href="https://github.com/mrgamer/angular-media-player">Fork me on GitHub</a>
        </div>
      </div>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand hidden-xs" href="/angular-media-player/index.html">angular-media-player</a>
            <a class="navbar-brand visible-xs" href="/angular-media-player/index.html"><i class="fa fa-home"></i></a>
            <p class="navbar-text navbar-arrow"></p>
            <p class="navbar-text navbar-active">Video support</p>
          </div>
        </div>
      </div>
      <div class="container">
        
<div class="col-xs-12 col-sm-9" ng-controller="VideoController">

        
<div class="jumbotron">
  <h1>Video Support</h1>
  <p>
    All the legacy <code>&lt;audio&gt;</code> functionality inside a <code>&lt;video&gt;</code> tag.
  </p>
</div>
<h3 id="demo">Demo</h3>
<p>There are 2 videos in <code>webm</code> format in this demo, you can play them using the same <strong>API</strong>.</p>

<video media-player="mediaPlayer" playlist="videoPlaylist"></video>

<div class="player-control">
  <div class="btn" ng-click="mediaPlayer.play()">
    <span>Simple Play</span>
    <i class="fa fa-play"></i>
  </div>
  <div class="btn" ng-click="mediaPlayer.playPause()">
    <i class="fa" ng-class="{ 'fa-pause': mediaPlayer.playing, 'fa-play': !mediaPlayer.playing }"></i>
  </div>
  <div class="btn" ng-click="mediaPlayer.next()">
    <span>Next</span>
    <i class="fa fa-step-forward"></i>
  </div>
  <div class="btn" ng-click="mediaPlayer.prev()">
    <i class="fa fa-step-backward"></i>
    <span>Prev</span>
  </div>
  <div class="btn btn-noclick">
    <span>currentTrack: <span class="badge">[[ mediaPlayer.currentTrack ]]</span></span>
  </div>
  <div class="btn btn-noclick">
    <span><i class="fa fa-clock-o"></i>: <span class="badge">[[ mediaPlayer.formatTime ]]</span></span>
  </div>
  <div class="btn btn-noclick">
    <span>volume: <span class="badge">[[ mediaPlayer.volume * 100 | number:0 ]]%</span></span>
  </div>
  <div class="btn" ng-click="mediaPlayer.setVolume(mediaPlayer.volume - 0.1)">
    <span><i class="fa fa-volume-down"></i></span>
  </div>
  <div class="btn" ng-click="mediaPlayer.setVolume(mediaPlayer.volume + 0.1)">
    <span><i class="fa fa-volume-up"></i></span>
  </div>
  <div class="progress" ng-click="mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: mediaPlayer.currentTime*100/mediaPlayer.duration + '%' }"></div>
    <div class="time" ng-show="mediaPlayer.formatTime">
      <span>[[ mediaPlayer.formatTime ]]</span><b>/</b><span>[[ mediaPlayer.formatDuration ]]</span>
    </div>
  </div>
</div>


<h3>player status in realtime</h3>

<pre>
  <code>
    mediaPlayer = {
      playing: [[ mediaPlayer.playing ]]
      currentTrack: [[ mediaPlayer.currentTrack ]]
      tracks: [[ mediaPlayer.tracks ]]
      volume: [[ mediaPlayer.volume ]]
      formatDuration: [[ mediaPlayer.formatDuration ]]
      duration: [[ mediaPlayer.duration ]]
      currentTime: [[ mediaPlayer.currentTime ]]
      formatTime: [[ mediaPlayer.formatTime ]]
      loadPercent: [[ mediaPlayer.loadPercent ]]
    };
  </code>
</pre>


<h1>Code</h1>
<small>...you can inspect aswell!</small>
<code class="hljs javascript">angular.module(<span class="hljs-string">'docs'</span>)
.controller(<span class="hljs-string">'VideoController'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">($scope)</span> {</span>
  $scope.videoPlaylist = [
    {
      src: <span class="hljs-string">'http://video.webmfiles.org/big-buck-bunny_trailer.webm'</span>,
      type: <span class="hljs-string">'video/webm'</span>
    },
    {
      src: <span class="hljs-string">'http://video.webmfiles.org/elephants-dream.webm'</span>,
      type: <span class="hljs-string">'video/webm'</span>
    }
  ];
});

</code>

        </div>
        <div class="col-xs-12 col-sm-3" role="navigation">
          <p class="text-success">Examples List</p>
          <div class="list-group">
            
            
            <a class="list-group-item" href="index.html">Getting Started</a>
            
            
            
            <a class="list-group-item" href="robust-playlist.html">Robust Playlist</a>
            
            
            
            <a class="list-group-item" href="robust-playlist-2.html">Robust Playlist #2</a>
            
            
            
            <a class="list-group-item" href="backwards-compatible.html">Backwards Compatibility</a>
            
            
            
            <a class="list-group-item" href="interactive.html">Interactive Demo</a>
            
            
            
            <a class="list-group-item" href="ng-repeat.html">Using ng-repeat</a>
            
            
            
            <a class="list-group-item active" href="video-support.html">Video support</a>
            
            
            
            <a class="list-group-item" href="development.html">Test Page</a>
            
            
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <div class="footer">
      <div class="container">
        angular-media-player is copyright ©2014 <a href="http://col3.me">Valerio Coltre</a>, licensed for use under the permissive <a href="http://choosealicense.com/">MIT Open Source License</a>.
      </div>
    </div>
  </body>
</html>
