<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>example #2</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="angular-audio-player.min.js" type="text/javascript" charset="utf-8"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="MyCtrl">
  <div class="container">
    <div class="hero-unit">
      <h1>angular-audio-player</h1>
      <p><a href="javascript:history.back()">go back</a></p>
      <p>
        Suddenly changing the playlist while the player is going on, simply makes it pause, and load the new tracks at once.
      </p>
    </div>
    <audio data-player-control="audio1" data-playlist="playlist1" audio-player></audio>
    <div class="btn" ng-click="audio1.play()">
      <span>Simple Play</span>
      <i class="icon-play"></i>
    </div>
    <div class="btn" ng-click="audio1.playPause()">
      <i ng-class="{ 'icon-pause': audio1.playing, 'icon-play': !audio1.playing }"></i>
    </div>
    <div class="btn" ng-click="audio1.next()">
      <span>Next</span>
      <i class="icon-step-forward"></i>
    </div>
    <div class="btn" ng-click="audio1.prev()">
      <i class="icon-step-backward"></i>
      <span>Prev</span>
    </div>
    <span>audio1.playingTrack = {{ audio1.playingTrack }}</span>
    <p>playlist1 = {{ playlist1 }}</p>
  </div>
</body>

<xmp remote="true" style="display:none;">
</xmp>
<script src="http://mrgamer.github.io/strapdown/v/0.2/strapdown.js"></script>

<script type="text/javascript">
  angular.module('myApp', ['angular-audio-player'])
  .controller('MyCtrl', function ($scope, $timeout) {
    $scope.playlist1 = [];
    $timeout(function () { $scope.playlist1.push({ src: 'http://upload.wikimedia.org/wikipedia/en/7/79/Korn_-_Predictable_%28demo%29.ogg', type: 'audio/ogg'}); }, 5000);
    $timeout(function () { $scope.playlist1[0] = { src: 'http://demos.w3avenue.com/html5-unleashed-tips-tricks-and-techniques/demo-audio.ogg', type: 'audio/ogg'}; }, 10000);
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42785441-1', 'mrgamer.github.io');
  ga('send', 'pageview');

</script>
</html>
