<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Testing Page</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="helpers.js" type="text/javascript" charset="utf-8"></script>
  <script src="angular-audio-player.js" type="text/javascript" charset="utf-8"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="MyCtrl">
  <div class="container">
    <div class="hero-unit">
      <h1>angular-audio-player</h1>
      <p><a href="javascript:history.back()">go back</a></p>
      <p>
        playlist object gets populated with the first audioElement found in the HTML.<br>
        <strong>WARNING</strong>: it's not a bi-directional binding... yet!
      </p>
    </div>
    <audio data-player-control="audio1" data-playlist="playlist1" audio-player>
      <source src="http://upload.wikimedia.org/wikipedia/en/1/14/Aerosmith_-_Don%27t_Wanna_Miss_a_Thing.ogg" type="audio/ogg">
    </audio>
    <div class="btn" ng-click="audio1.play()">
      <span>Simple Play</span>
      <i class="icon-play"></i>
    </div>
    <div class="btn" ng-click="audio1.playPause()">
      <i ng-class="{ 'icon-pause': audio1.playing, 'icon-play': !audio1.playing }"></i>
    </div>
    <div class="btn" ng-click="audio1.next()">
      <span>Next</span>
      <i class="icon-step-forward"></i>
    </div>
    <div class="btn" ng-click="audio1.prev()">
      <i class="icon-step-backward"></i>
      <span>Prev</span>
    </div>
    <span>audio1.currentTrack: {{ audio1.currentTrack }}</span>
    <h3>playlist1</h3>
    <span>
        {{ playlist1 }}
    </span>
    <pre>
      <code>
        audio1 = {
          playing: {{ audio1.playing }}
          currentTrack: {{ audio1.currentTrack }}
          tracks: {{ audio1.tracks }}
          volume: {{ audio1.volume }}
          formatDuration: {{ audio1.formatDuration }}
          duration: {{ audio1.duration }}
          currentTime: {{ audio1.currentTime }}
          formatTime: {{ audio1.formatTime }}
          position: {{ audio1.position }}
          loadPercent: {{ audio1.loadPercent }}
        };
      </code>
    </pre>
  </div>
</body>

<script type="text/javascript">
  angular.module('myApp', ['angular-audio-player'])
  .controller('MyCtrl', function ($scope, $timeout) {
    $scope.playlist1 = [];
    $scope.playlist1.push({ src: 'http://upload.wikimedia.org/wikipedia/en/f/fe/Aerosmith_-_Dream_On.ogg' });
    $scope.playlist1.push({ src: 'http://upload.wikimedia.org/wikipedia/en/4/45/ACDC_-_Back_In_Black-sample.ogg' });
  });
</script>
</html>
